<!DOCTYPE html>
<html>
    <head>
        <title>Pokémon Generator</title>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="/js/data.min.js"></script>
        <script src="/js/eevee.min.js"></script>
    </head>
    <body>
        <header>
            <h1>Pokémon Generator</h1>
        </header>
        <section class="editor">
            <nav>
                <span class="main-button selected">Main</span>
                <span class="met-button">Met</span>
                <span class="stat-sbutton">Stats</span>
                <span class="moves-button">Moves</span>
                <span class="ribbons-button">Ribbons</span>
                <span class="misc-button">Misc</span>
                <span id="choose-again">Start Over</span>
                <span id="save">Save</span>
            </nav>
            <section class="fields main">
                <aside class="row">
                    <figure>
                        <img class="thumbnail no-grow" src="/img/pokemon/149.png" />
                        <div class="typing">
                            <span class="type dragon">Dragon</span>
                            <span class="type flying">Flying</span>
                        </div>
                    </figure>
                    <aside id="test" class="grow">

                    </aside>
                </aside>
            </section>
        </section>
    </body>
</html>
