<!DOCTYPE html>
<html>
    <head>
        <title>Eevee</title>
        <link href='//fonts.googleapis.com/css?family=Press+Start+2P|PT+Sans' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/css/bundle.min.css" rel="stylesheet" />
        <script src="/js/eevee.min.js"></script>
    </head>
    <body class="wrapper">
        <aside id="progress"></aside>
        <aside id="loading">
            <div>
                <!--
                <video src="/img/dragonite.webm" loop="true" autoplay></video>
                -->
                <img src="/img/eevee.gif" />
                <span>Loading</span>
            </div>
        </aside>
        <header>
            <div class="wrapper">
                <h1>Eevee</h1>
                <nav>
                    <a href="/about">About</a>
                </nav>
            </div>
        </header>
        <div id="search">
            <input id="search-input" type="text" placeholder="Search" />
        </div>
        <aside id="thumbnails"></aside>
    </body>
</html>
