html {
    /*
    Prevent page position shift
    from scrollbar.
    */
    overflow-y: scroll;
}

html, body {
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", arial, sans;
    font-size: 14px;
}

body {
    max-width: 720px;
    margin: 0px auto;
}

h1, h2 {
    font-weight: 400;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 0.25em;
    margin-bottom: 0.5em;
}

h3 {
    margin: 0px;
}

figure {
    margin: 0px;
}

input[type=radio] {
    vertical-align: middle;
}

#progress {
    position: fixed;
    top: 0px;
    left: 0px;
    transition: 0.2s width;
    width: 0%;
    height: 2px;
    background: #3088f0;
    box-shadow: 0px 0px 10px #3088f0;
}

#loading {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2em;
    background: #ffffff;
    text-align: center;
}

#loading span {
    display: block;
    font-family: "Press Start 2p";
}

#thumbnails {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#thumbnails:after {
    content: "";
    flex: auto;
}

#thumbnails figure {
    padding: 0.5em;
    box-sizing: border-box;
}

#thumbnails img {
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 0.5em;
    cursor: pointer;
}

/* Typing Style */

.type {
    border: 1px solid;
    color: #ffffff;
    display: inline-block;
    height: 2em;
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    font-size: 11px;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #444444;
    margin-right: 0.25em;
}

.normal {
    background: #8a8a59;
    background-image: -webkit-linear-gradient(#a8a878, #8a8a59);
    background-image: linear-gradient(#a8a878, #8a8a59);
    border-color: #79794e
}

.fire {
    background: #f08030;
    background-image: -webkit-linear-gradient(#f08030, #dd6610);
    background-image: linear-gradient(#f08030, #dd6610);
    border-color: #b4530d
}

.water {
    background: #6890f0;
    background-image: -webkit-linear-gradient(#6890f0, #386ceb);
    background-image: linear-gradient(#6890f0, #386ceb);
    border-color: #1753e3
}

.electric {
    background: #f8d030;
    background-image: -webkit-linear-gradient(#f8d030, #f0c108);
    background-image: linear-gradient(#f8d030, #f0c108);
    border-color: #c19b07
}

.grass {
    background: #78c850;
    background-image: -webkit-linear-gradient(#78c850, #5ca935);
    background-image: linear-gradient(#78c850, #5ca935);
    border-color: #4a892b
}

.ice {
    background: #98d8d8;
    background-image: -webkit-linear-gradient(#98d8d8, #69c6c6);
    background-image: linear-gradient(#98d8d8, #69c6c6);
    border-color: #45b6b6
}

.fighting {
    background: #c03028;
    background-image: -webkit-linear-gradient(#c03028, #9d2721);
    background-image: linear-gradient(#c03028, #9d2721);
    border-color: #82211b
}

.poison {
    background: #a040a0;
    background-image: -webkit-linear-gradient(#a040a0, #803380);
    background-image: linear-gradient(#a040a0, #803380);
    border-color: #662966
}

.ground {
    background: #e0c068;
    background-image: -webkit-linear-gradient(#e0c068, #d4a82f);
    background-image: linear-gradient(#e0c068, #d4a82f);
    border-color: #aa8623
}

.flying {
    background: #a890f0;
    background-image: -webkit-linear-gradient(#a890f0, #9180c4);
    background-image: linear-gradient(#a890f0, #9180c4);
    border-color: #7762b6
}

.psychic {
    background: #f85888;
    background-image: -webkit-linear-gradient(#f85888, #f61c5d);
    background-image: linear-gradient(#f85888, #f61c5d);
    border-color: #d60945
}

.bug {
    background: #a8b820;
    background-image: -webkit-linear-gradient(#a8b820, #8d9a1b);
    background-image: linear-gradient(#a8b820, #8d9a1b);
    border-color: #616b13
}

.rock {
    background: #b8a038;
    background-image: -webkit-linear-gradient(#b8a038, #93802d);
    background-image: linear-gradient(#b8a038, #93802d);
    border-color: #746523
}

.ghost {
    background: #705898;
    background-image: -webkit-linear-gradient(#705898, #554374);
    background-image: linear-gradient(#705898, #554374);
    border-color: #413359
}

.dragon {
    background: #7038f8;
    background-image: -webkit-linear-gradient(#7038f8, #4c08ef);
    background-image: linear-gradient(#7038f8, #4c08ef);
    border-color: #3d07c0
}

.steel {
    background: #b8b8d0;
    background-image: -webkit-linear-gradient(#b8b8d0, #9797ba);
    background-image: linear-gradient(#b8b8d0, #9797ba);
    border-color: #7a7aa7
}

.dark {
    background: #705848;
    background-image: -webkit-linear-gradient(#705848, #513f34);
    background-image: linear-gradient(#705848, #513f34);
    border-color: #362a23
}

.fairy {
    background: #e898e8;
    background-image: -webkit-linear-gradient(#e898e8, #de6ede);
    background-image: linear-gradient(#e898e8, #de6ede);
    border-color: #d547d5
}

/* Editor Style */

.editor {
    border: 1px solid #dddddd;
    margin-bottom: 1em;
}

.editor nav {
    background: #eeeeee;
    border-bottom: 1px solid #dddddd;
    display: flex;
}

.editor nav span {
    padding: 1em;
    border-right: 1px solid #dddddd;
}

.editor nav span:hover {
    background: linear-gradient(#f8f8f8, #f5f5f5);
    cursor: pointer;
    box-shadow: 0px 1px 0px #f0f0f0 inset;
}

.editor nav span:active {
    background: linear-gradient(#f5f5f5, #f2f2f2);
}

.editor nav span.selected {
    box-shadow: 0px 1px 5px #e2e2e2 inset;
    background: #e7e7e7;
}

.editor .fields {
    padding: 0.5em;
}

.editor img {
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.editor .row {
    display: flex;
    flex-flow: row;
}

.editor .row > * {
    padding: 0.5em;
    box-sizing: border-box;
}

.editor .row .grow {
    flex-grow: 1;
}

.no-grow {
    flex-grow: 0;
}

.editor .typing {
    text-align: center;
}

.editor .input-grouped {
    display: flex;
    flex-flow: row;
    margin-bottom: 1em;
}

.editor .input-grouped .input-group {
    margin-bottom: 0px;
    flex-grow: 1;
}

.editor .input-grouped .input-wrapper {
    flex-grow: 1;
}

.editor .input-group {
    border: 1px solid #dddddd;
    height: auto;
    display: flex;
    flex-flow: row;
    margin-bottom: 1em;
    border-radius: 3px;
}

.editor .input-grouped .input-wrapper + .input-wrapper {
    padding-left: 0.5em;
}

.editor .other-group {
    display: flex;
    flex-flow: row;
}

.editor .other-group .input-group > label {
    min-width: 0em;
}

.editor .input-group > label {
    background: #eeeeee;
    display: inline-block;
    min-width: 10em;
    height: 100%;
    padding: 0.5em;
    flex-grow: 0;
    box-sizing: border-box;
}

.editor .input-group > .check-group {
    border-left: 1px solid #dddddd;
}

.editor .input-group > input:not([type=checkbox]), .editor .input-group > select {
    border: none;
    padding: 0.5em;
    flex-grow: 1;
    border-radius: 0px 3px 3px 0px;
    background: #ffffff;
    border-left: 1px solid #dddddd;
    box-sizing: border-box;
}

.editor .radio-group, .check-group {
    display: flex;
    align-items: center;
}
